<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlexFill>


  <mat-list>
    <mat-list-item *ngFor="let hero of heroes" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <p> {{hero.name}} </p>
    </mat-list-item>
  </mat-list>

  <div *ngIf="selectedHero">
    <span>{{selectedHero.name}}</span>
    <button mat-flat-button routerLink="/detail/{{selectedHero.id}}">Ver Detalhes</button>
  </div>

  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
    <button mat-flat-button routerLink="">Sair</button>
    <button mat-flat-button color="primary" routerLink="/new">Novo Herói</button>
  </div>

</div>