<div fxLayout="row" fxLayoutAlign="center start" fxFlexFill style="background: #EEE">

  <mat-card fxFlex="40">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title style="text-align:  center"> Novo Herói</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="hero">

        <section class="example-section">
          <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="hero.name">
          </mat-form-field>
        </section>

        <section class="example-section">
          <label class="example-margin">Força:</label>
          <mat-slider style="width: 100%" max="100" [min]="0" step="1" color="primary" [(ngModel)]="hero.forca">
          </mat-slider>
          <label class="example-margin">{{hero.forca}}</label>
        </section>

        <section class="example-section">
          <label class="example-margin">Inteligência:</label>
          <mat-slider style="width: 100%" max="100" [min]="0" step="1" color="primary" [(ngModel)]="hero.inteligencia">
          </mat-slider>
          <label class="example-margin">{{hero.inteligencia}}</label>
        </section>

        <section class="example-section">
          <label class="example-margin">Agilidade:</label>
          <mat-slider style="width: 100%" max="100" [min]="0" step="1" color="primary" [(ngModel)]="hero.agilidade">
          </mat-slider>
          <label class="example-margin">{{hero.agilidade}}</label>
        </section>

        <section class="example-section">
          <label class="example-margin">Destreza:</label>
          <mat-slider style="width: 100%" max="100" [min]="0" step="1" color="primary" [(ngModel)]="hero.destreza">
          </mat-slider>
          <label class="example-margin">{{hero.destreza}}</label>
        </section>


      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button routerLink="/heroes">Votlar</button>
      <button mat-flat-button color="primary" (click)="submit()">Salvar</button>
    </mat-card-actions>
  </mat-card>
</div>